*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 20,33);
    color: white;
    font-family: 'Poppins',sans-serif;
}
nav{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(6, 33, 51) ;
}
nav ul { 
    list-style-type: none;
    display: flex;
}
nav ul li {
    margin: 0px 5%;
    text-decoration: none;
    color: white;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}
nav ul li a:hover{
    color: rgb(48, 94, 147);
    font-size: 1.2rem;
}
.leftN{
    font-size: 2rem;
}
.firstS{
    color: rgb(84, 84, 145);
    display: flex;
    height: 80vh;
    justify-content: space-around;
    margin: 2% 0px;
}
.firstS >div{
    width: 30%;
}
.leftFS{
    font-size: 2.3rem;
    margin: 5% 0;
}
#element{
    color: rgb(145, 119, 134);
}
.purple{
    color: rgb(105, 146, 205);
}
.rightFS{
 width: 80%;  
}
.footer-div{
    height: 50px;
    width: 100%;
   text-align: center
}

